.containers {
  width: 90%;

  margin-left: 200px;
  margin-right: 150px;
}
.evbanner {
  background: linear-gradient(to right top, #868484, #bfbebe, #ffffff);
  padding: 60px 0;
  font-family: 'Roboto', sans-serif;
}
.mat-card{
  margin: 10px 10px 10px 10px;
}
.crdPannel{
  background-color: rgb(209, 209, 209);
}
.eventTopics{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.example-card{
  background-color: #f6f4f400;
  border: none;
}

