<section class="footer-top">
  <div class="container1">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <img src="../assets/artf1.jpg" alt="logo">
        </div>
        <div class="footer-top-menu">
          <ul>
            <li>
              <i class="fa fa-home"></i><span class="heading">Address:</span>
              <span class="address"> Heloyas Rd,Rathawaththa, Mount Lavinia.</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span class="heading">Mail Us:</span>
              <span class="email"><a href=""> TicketLk@gmail.com</a></span>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <span class="heading">Phone: </span>
              <span class="number"> 077 11234567</span>
            </li>
            <li>
              <a href=""><img src=""></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>
           Who We Are
          </h2>
          <li>
            <i class="fa fa-circle"></i>
            <h3>We are one of the most Experinced Entertaiement Compnay in Colombo who provide a platform to Brings Artistics taste to global market facilitating
              Exculusive Event Services and Experiences.
            </h3>
          </li>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>
            What We Do
          </h2>
          <li>
            <i class="fa fa-circle"></i>
            <h3>We Facilitate Services to all kind of Events and Experiences happening around the Island.
              Marketing, Promiting, Orgnaizing and Managing Events are Basic Services we provide as a Compnay.
              This Web site is our official platform of Selling Tickets for Events.
            </h3>
          </li>
        </div>
      </div>
      <!-- <div class="col-md-2">
        <div class="footer-all-menu">
          <h2>
            My Account
          </h2>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Information</a>
          </li>
        </div>
      </div> -->
    </div>
  </div>
</section>

<section class="footer-middle">
  <div class="container2">
    <div class="row">

      <div class="col-md-4">
        <div class="social text-center">
          <ul>
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://web.whatsapp.com/"><i class="fa fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container3 text-center">
    <p>@2022 This is designed for FullStack Module in Pylmouth SE Final Year</p>
  </div>
</footer>
