.footer-top{
  padding: 50px 0;
  background: #111;
  padding-left: 50px;
}

.footer-top-menu ul{
  padding: 0;
  margin: 0;
}
.footer-top-menu ul li{
  list-style-type: none;
  margin-top: 20px;
  color: #fff;
}

.footer-top-menu ul li i{
  margin-right: 10px;
  font-size: 17px;
}
.footer-top-menu ul li.heading{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
.footer-top-menu ul li.address{
  color: rgb(255, 253, 253);
  padding-left: 10px;
  font-size: 15px;
}
.footer-all-menu h2{
  color: rgb(215, 73, 2);
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}
.footer-all-menu h2::before{
 position: absolute;
 content: '';
 width: 50px;
 height: 2px;
 background: rgb(179, 144, 144);
 opacity: .1;
 bottom: -19px;
 left: 0;
}
.footer-all-menu ul{
  padding: 0;
  margin: 30px 0 0 0;
}
.footer-all-menu ul li{
  list-style-type:none ;
  margin-top: 8px;
}

.footer-middle{
  padding: 50px 0;
  padding-left: 50px;
  background: #111;
}
.footer-middle h2{
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.input{
  border: 0;
  outline: o;
  color: #ccc;
  background: rgb(93, 89, 89);
  padding: 0 16px;
  margin: 0;
  min-width: 360px;
  height: 45px;
  font-size: 14px;
  font-style: italic;
  border-radius: 20px 20px 20px 20px;
  position: relative;
}
.btn{
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background: rgb(255, 253, 253);
  padding: 0 25px;
  border-radius: 0 20px 20px 0;
  height: 45px;
  border: none;
  transition: all .3s ease;
}
.btn:active, .btn:focus{
  border: 0,!important;
  outline: 0, i !important;
  border-color: rgb(18, 0, 73);
  box-shadow:none !important ;
}
.btn:hover{
  color: aqua;
}
.btn i{
  color: rgb(37, 160, 0);
  font-size: 17px;
}

.social ul{
  padding: 0;
  margin: 0;
}
.social ul li{
  position: relative;
  display: inline-block;
  margin-right: 5px;
  list-style-type:none;;
}
.social ul li a{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgb(216, 156, 79);
  display: inline-block;
  font-size: 18px;
  color: #c9c9c9;
  transition: all .3s ease;
}
.social ul li a:hover{
  background: rgb(215, 73, 2);
  color: #fff;
}
.social ul li a i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
footer{
  padding: 20px 0;
  background: #111;
}
footer p{
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}
.footer-all-menu h3{
  color: rgb(221, 238, 220);
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
