<section class="footer-top">
  <div class="container1">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <img src="../assets/artf1.jpg" alt="logo">
        </div>
        <div class="footer-top-menu">
          <ul>
            <li>
              <i class="fa fa-home"></i><span class="heading">Address:</span>
              <span class="address"> No 92,Taxila Uyana,Horana.</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span class="heading">Mail Us:</span>
              <span class="email"><a href=""> TicketLk@gmail.com</a></span>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <span class="heading">Phone: </span>
              <span class="number"> 077 11234567</span>
            </li>
            <li>
              <a href=""><img src=""></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>
            My Account
          </h2>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Information</a>
          </li>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>
            My Account
          </h2>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Information</a>
          </li>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-all-menu">
          <h2>
            My Account
          </h2>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Information</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-middle">
  <div class="container2">
    <div class="row">
      <div class="col-md-4">
        <h2>Sign up for this entertaitments</h2>


    </div>
      <div class="col-md-4">
        <div class="input">
          <input type="mail" class="input" placeholder="email">
          <button type="button" class="btn"><i class="fa fa-location-arrow"></i></button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social text-center">
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container3 text-center">
    <p>@2022 This is designed for FullStack Module in Pylmouth SE Final Year</p>
  </div>
</footer>
