<section class="bookingDetails">
  <div class="container">
    <div class="row">
      <form [formGroup]="BookingForm" (submit)="onClickProceed()">
      <mat-vertical-stepper>
        <mat-step>

            <ng-template matStepLabel>Select your Ticket</ng-template>

            <mat-form-field>
              <mat-label>Ticket Price</mat-label>
              <mat-select>
                <mat-option *ngFor="let ticketPrice of ticketPrices" [value]="ticketPrice.value">
                 {{ ticketPrice.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
              required="false"
              matInput
              type="text"
              name='noOfTicket'
              formControlName='noOfTicket'
               placeholder="No of Ticket">
               <mat-error *ngIf="BookingForm.get('noOfTicket').invalid">Select A Ticket</mat-error>
            </mat-form-field>
            <button mat-button (click)="toggleFormFields()">+</button>

            <div *ngFor="let formFieldValue of formFieldValue; let i = index">
              <mat-form-field>
                <mat-label >Ticket Price</mat-label>
                <mat-select>
                  <mat-option>
                   Vip
                  </mat-option>
                  <mat-option>
                    Silver
                   </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="No of Ticket">
              </mat-form-field>
              <button mat-button (click)="removeFormFields(i)">-</button>
            </div>
            <div>
              <button mat-button matStepperNext type="button"  (click)="cal()"*ngIf="BookingForm.get('noOfTicket').valid">Next</button>
            </div>

        </mat-step>
        <mat-step >

            <ng-template matStepLabel >Fill out your Details</ng-template>
            <mat-form-field>
              <input
              matInput
              type="text"
              name='name'
              formControlName='name'
              placeholder="Name">
            </mat-form-field>
            <mat-form-field>
              <input
              matInput
              type="text"
              name='nic'

              placeholder="NIC/PASSPORT">
            </mat-form-field>
            <mat-form-field>
              <input
              matInput
              type="text"
              name='address'
              formControlName='address'
              placeholder="Address">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>

        </mat-step>
        <mat-step>

            <ng-template matStepLabel>Fill out your contacts</ng-template>
              <mat-form-field>
                <input
                matInput
                type="text"
                name='telephone'
                formControlName='telephone'
                placeholder="Telephone">
              </mat-form-field>
              <mat-form-field>
                <input
                matInput
                type="email"
                name="email"
                formControlName='email'
                placeholder="Email">
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext type="button">Next</button>
              </div>

        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Confirmation</ng-template>
          You have a total of {{total}}.00 LKR
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button>Reset</button>
            <button mat-raised-button
            color="accent"
            type="submit">Proceed to Pay</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
    </div>

  </div>
</section>


