<header>
  <div class="container">
    <div class="row">
        <div class="col-md-4">
          <!-- <div class="header-logo">
            <img src="../assets/logo-preview.png" alt="logo">
          </div> -->
            <div class="language">
          <ul>
            <li>
              <a style="color:rgba(250, 250, 250, 0.799);font-size: 14px;text-decoration: none;"  [routerLink]="['']">Home</a>
               <i class="fa-solid fa-house"></i>
            </li>
            <li> <a href="#listView" style="color:rgba(250, 250, 250, 0.799);font-size: 14px;text-decoration: none;" >Events</a>

              <!-- <div class="dropdown">
                <ul>
                  <li>English</li>
                  <li>Arabic</li>
                </ul>
              </div> -->
            </li>
            <li>
              <a href="#Footer" style="color:rgba(250, 250, 250, 0.799);font-size: 14px;text-decoration: none;" >Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 text-right">
        <div class="menu-social">
            <ul>
                <li>
                    <a href="https://www.facebook.com/">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <!-- <li>
                    <a href="javascript:void(0);">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="javascript:void(0);">
                        Login
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Register
                    </a>
                </li> -->
            </ul>
        </div>
    </div>

    </div>
  </div>
</header>

