<div class="container">
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let event of events">
      <mat-expansion-panel-header>
           {{ event.title }}
         <!-- <mat-panel-description>
          This is a summary of the content
        </mat-panel-description> -->
      </mat-expansion-panel-header>
       <p>{{ event.date }}</p>
       <p>{{ event.organization }}</p>
       <p>{{ event.location }}</p>
       <p>{{ event.capacity }}</p>
       <p>{{ event.category }}</p>
       <p>{{ event.TicketC1 }}</p>
       <p>{{ event.TicketP1 }}.00 LKR</p>
       <p>{{ event.TicketQ1 }}</p>
       <p>{{ event.description }}</p>
       <div class="image-view">
        <img [src]="event.imagePath" [alt]="event.title">
      </div>
       <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/edit',event.id]">Edit</a>
        <button mat-button color="warn" >Delete</button>
       </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-paginator [length]="totalEvents" [pageSize]="eventsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="events.length<=0"> No Events added yet</p>
