mat-form-field,
textarea,input{
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
}
mat-card{
  margin-top: 1rem;
}
input[type='file']{
  visibility: hidden;
}

.image-preview{
  height: 17rem;
  margin: 1rem 0;
}

.image-preview img{
  height:100%;
}

