<section class="banner">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="carousel" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="carousel" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="../assets/pexels-edward-eyer-811838.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<app-evnt-crd></app-evnt-crd>
<div class="carousel-inner">

  <div class="carousel-item active">
    <img src="../assets/pexels-pixabay-46158.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <!-- <h5>Third slide label</h5>
      <p>Some representative placeholder content for the third slide.</p> -->
    </div>
  </div>
</div>
<app-list-view></app-list-view>
