<!-- <section class="bg-cover">
  <div class="container1">
    <div class="title">
      <p>Best of happening Nights</p>
        <h2>
          <span>Latest</span>Events
        </h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">20%</div>
            <div class="label label-green">Pre_Order</div>
            <div class="evnt-container">
              <div class="e"><img src="../assets/evntCrd1.jpg" alt="Event_1"></div>
              <div class="e"><img src="../assets/evntCrd1.jpg" alt="Event_1"></div>
              <div class="e"><img src="../assets/evntCrd1.jpg" alt="Event_1"></div>
            </div>
            <div class="image">
              <img src="../assets/img2.jpg" alt="Product">
            </div>
            <div class="evnt-line"></div>
            <div class="evnt-item">
              <ul>
                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">Cleopatra</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p><span class="money">32432</span><span class="old-price">dfs</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 -->

 <section class="evntBg">
  <div class="containers">
    <div class="title">
          <p>The Best Happening Nights</p>
          <h2><span>Latest</span>Events</h2>
    </div>
    <div class="row">
          <div class="col-md-3">
              <div class="card">
                  <div class="card-main">
                      <div class="discount">-9%</div>
                      <div class="label label-green">Pre-order</div>
                      <div class="EventContainer">
                          <div class="p" (mouseover)="imgChange1($event)"><img src="../assets/evntCrd1.jpg"
                                  alt="Product"></div>
                          <div class="p" (mouseover)="imgChange1($event)" ><img src="../assets/evntCrd2.jpg"
                                  alt="Product"></div>
                          <div class="p" (mouseover)="imgChange1($event)" ><img src="../assets/evntCrd3.jpg"
                                  alt="Product"></div>
                      </div>
                      <div class="image">
                          <img src="{{url1}}" alt="Product">
                      </div>
                      <div class="cart-line"></div>
                      <div class="cart-item">
                          <ul>
                              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                              <li><a href=""><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="content">
                      <a href="javascript:void(0);">Interflash</a>
                      <div class="rating">
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                      </div>
                      <p><span class="priceL">2000LKR</span><span style="font-size:16px;color: chocolate;font-style: italic;"> to </span><span class="priceH">10000LKR</span></p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <div class="card-main">
                    <div class="discount">-9%</div>
                    <div class="label label-green">Pre-order</div>
                    <div class="EventContainer">
                        <div class="p" (mouseover)="imgChange2($event)"><img src="../assets/Drama1.jpg"
                                alt="Product"></div>
                        <div class="p" (mouseover)="imgChange2($event)" ><img src="../assets/Drama3.jpg"
                                alt="Product"></div>
                        <div class="p" (mouseover)="imgChange2($event)" ><img src="../assets/Drama2.jpg"
                                alt="Product"></div>
                    </div>
                      <div class="image">
                          <img src="{{url2}}" alt="Product">
                      </div>
                    <div class="cart-line"></div>
                    <div class="cart-item">
                        <ul>
                            <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a href=""><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <a href="javascript:void(0);">Interflash</a>
                    <div class="rating">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p><span class="priceL">2000LKR</span><span style="font-size:16px;color: chocolate;font-style: italic;"> to </span><span class="priceH">10000LKR</span></p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-main">
                  <div class="discount">-9%</div>
                  <div class="label label-green">Pre-order</div>
                    <div class="EventContainer">
                        <div class="p" (mouseover)="imgChange3($event)"><img src="../assets/concert1.jpg"
                                alt="Product"></div>
                        <div class="p" (mouseover)="imgChange3($event)" ><img src="../assets/concert2.jpg"
                                alt="Product"></div>
                        <div class="p" (mouseover)="imgChange3($event)" ><img src="../assets/concert3.jpg"
                                alt="Product"></div>
                    </div>
                    <div class="image">
                        <img src="{{url3}}" alt="Product">
                    </div>
                    <div class="cart-line"></div>
                  <div class="cart-item">
                      <ul>
                          <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a href=""><i class="fa fa-heart"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="content">
                  <a href="javascript:void(0);">Interflash</a>
                  <div class="rating">
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p><span class="priceL">2000LKR</span><span style="font-size:16px;color: chocolate;font-style: italic;"> to </span><span class="priceH">10000LKR</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-main">
                <div class="discount">-9%</div>
                <div class="label label-green">Pre-order</div>
                  <div class="EventContainer">
                      <div class="p" (mouseover)="imgChange4($event)"><img src="../assets/art1.jpg"
                              alt="Product"></div>
                      <div class="p" (mouseover)="imgChange4($event)" ><img src="../assets/art2.jpg"
                              alt="Product"></div>
                      <div class="p" (mouseover)="imgChange4($event)" ><img src="../assets/art3.jpg"
                              alt="Product"></div>
                  </div>
                  <div class="image">
                      <img src="{{url4}}" alt="Product">
                  </div>
                  <div class="cart-line"></div>
                <div class="cart-item">
                    <ul>
                        <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                        <li><a href=""><i class="fa fa-heart"></i></a></li>
                    </ul>
                </div>
              </div>
                <div class="content">
                  <a href="javascript:void(0);">Interflash</a>
                  <div class="rating">
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p><span class="priceL">2000LKR</span><span style="font-size:16px;color: chocolate;font-style: italic;"> to </span><span class="priceH">10000LKR</span></p>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>
