<!-- <section class="bg-cover">
  <div class="container1">
    <div class="title">
      <p>Best of happening Nights</p>
        <h2>
          <span>Latest</span>Events
        </h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">20%</div>
            <div class="label label-green">Pre_Order</div>
            <div class="evnt-container">
              <div class="e"><img src="../assets/evntCrd1.jpg" alt="Event_1"></div>
              <div class="e"><img src="../assets/evntCrd1.jpg" alt="Event_1"></div>
              <div class="e"><img src="../assets/evntCrd1.jpg" alt="Event_1"></div>
            </div>
            <div class="image">
              <img src="../assets/img2.jpg" alt="Product">
            </div>
            <div class="evnt-line"></div>
            <div class="evnt-item">
              <ul>
                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">Cleopatra</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p><span class="money">32432</span><span class="old-price">dfs</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 -->

 <section class="evntBg">
  <div class="containers">
    <div class="title">
          <p>The Best Happening Nights</p>
          <h2><span>Latest</span>Events</h2>
    </div>
    <div class="row">
          <div class="col-md-3" *ngFor="let event of events">
              <div class="card">
                  <div class="card-main">

                      <div class="discount">{{event.organization}}</div>
                      <div class="label label-green">{{event.category}}</div>

                      <!-- <div class="EventContainer">
                          <div class="p" (mouseover)="imgChange1($event)"><img src="../assets/evntCrd1.jpg"
                                  alt="Product"></div>
                          <div class="p" (mouseover)="imgChange1($event)" ><img src="../assets/evntCrd2.jpg"
                                  alt="Product"></div>
                          <div class="p" (mouseover)="imgChange1($event)" ><img src="../assets/evntCrd3.jpg"
                                  alt="Product"></div>
                      </div> -->
                      <div class="image">

                          <img [src]='event.imagePath' alt="Product">

                      </div>
                      <div class="cart-line"></div>
                      <div class="cart-item">
                          <ul>
                              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                              <li><a href=""><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="content">
                    <p><span class="priceL">{{event.date}} LKR</span></p>
                      <a href="javascript:void(0);">{{event.title}}</a>
                      <p><span class="priceL">{{event.TicketP1}} LKR</span>
                        <!-- <span style="font-size:16px;color: chocolate;font-style: italic;"> to </span><span class="priceH">10000LKR</span> -->
                      </p>
                  </div>
              </div>
          </div>

    </div>
  </div>
</section>
